<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="contenedorHeader">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo de mercado Liebre" class="logoML"></a>
        <div class="buscador">
        <input type="text" placeholder="Buscar productos,marcas" class="barradebusqueda">
        <button class="boton-busqueda"><i class="fas fa-search"></i></button>
        </div>
        <p class="cuotas"><i class="fas fa-hand-holding"></i>Compar en cuotas y sin tarjetas de creditos</p>
        </div>
        <nav class="navegacion">
        <ul class="lista">
            <li><a href="">Ofertas</a></li> 
            <li><a href="">Tiendas Oficiales</a></li>
            <li> <a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="lista">
            <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fas fa-arrow-right"></i></li>
            <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img src="/img/img-home-banner.jpg">
    <main>   
            <h3 class="titulares"> Basado en tu ultima visita</h3>
        <div class="contieneArticulos">
            <article class="articulo">
                <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $6.770</p>
                        <p class="desc">40% off</p>
                    </div>
                    <p class="descripcion"><b> Cafetera Moulinex</b></p>
                </div>
            </article>
            <article class="articulo">
                <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen Macbook pro modelo 2019">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <p class="descripcion"><b> MacBook Pro 2019</b></p>
                </div>
            </article>
            <article class="articulo">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen Telefono Samsung Galaxy s10">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <p class="descripcion"><b> Samsung Galaxy S10</b></p>
                </div>
            </article>
            <article class="articulo">
                <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen Tv Samsung Smart">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
                </div>
            </article>
        </div>
            <h3 class="titulares"> Ofertas</h3>
        <div class="contieneArticulos">
            <article class="articulo">
                <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $6.770</p>
                        <p class="desc">40% off</p>
                    </div>
                    <p class="descripcion"><b> Cafetera Moulinex</b></p>
                </div>
            </article>
            <article class="articulo">
                <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen Macbook pro modelo 2019">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <p class="descripcion"><b> MacBook Pro 2019</b></p>
                </div>
            </article>
            <article class="articulo">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen Telefono Samsung Galaxy s10">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <p class="descripcion"><b> Samsung Galaxy S10</b></p>
                </div>
            </article>
            <article class="articulo">
                <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen Tv Samsung Smart">
                <div class="bajoimg">
                    <i class="fas fa-solid fa-truck-moving"></i>
                    <div class="contPREDESC">
                        <p class="precio"> $23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
                </div>
            </article>
        </div>
        
    </main>
    <footer>
        <div class="contenedorfooter">
        <article>
        <i class="fas fa-solid fa-credit-card iconofooter"></i>
        <p><b>Paga con tarjeta o en efectivo</b></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
        <i class="fas fa-solid fa-gift iconofooter"></i>
        <p><b>Envio gratis desde $ 2.500</b></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
        <i class="fas fa-solid fa-user-shield iconofooter"></i>
        <p><b>Seguridad, de principio a fin</b></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        </div>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>