<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="contenedorHeader">
        <img src="/img/logo-mercado-liebre.svg" alt="Logo de mercado Liebre" class="logoML">
        <div class="buscador">
        <input type="text" placeholder="Buscar productos,marcas" class="barradebusqueda">
        <button class="boton-busqueda"><i class="fas fa-search"></i></button>
        </div>
        <p class="cuotas"><i class="fas fa-hand-holding"></i>Compar en cuotas y sin tarjetas de creditos</p>
        </div>
        <nav class="navegacion">
        <ul class="lista">
            <li><a href="">Ofertas</a></li> 
            <li><a href="">Tiendas Oficiales</a></li>
            <li> <a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="lista">
            <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fas fa-arrow-right"></i></li>
            <li><a href="">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h2 class="titulares">INGRESAR A TU CUENTA</h2>
        <form action="/" class="formulario">
            <label for="nombreusuario">Nombre de Usuari@:</label>
            <input type="text" id="nombreusuario" name="nombreusuario" class="inputtext">
            <label for="contraseña">Contraseña:</label>
            <input type="password" name="contraseña" id="contraseña" class="inputtext">
            <button class="botonformulario">Enviar</button>
        </form>
        
    </main>
    <footer>
        <i class="fas fa-solid fa-credit-card"></i>
        <p><b>Paga con tarjeta o en efectivo</b></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-solid fa-gift"></i>
        <p><b>Envio gratis desde $ 2.500</b></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-solid fa-user-shield"></i>
        <p><b>Seguridad, de principio a fin</b></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>